* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}
html {
	height: 100%;
        padding: 10px 0;
}
body
{	
        height: 100%;	
}
#page {
  display: table;
  width: 96%;
  height: 100%; 
  margin: 0 auto;
  padding: 0;
  background: white;
  border: 1px solid #C9E0ED;  
}
#content {
  display: table-row;
  height: 100%;  
}
.mapwrap {
  display: table-cell;
  height: 100%; 
  padding: 10px 10px 0;    
}
.map {    
  display: block; 
  height: 100%;  
}
.sidebar {
  width: 100px;
  display: table-cell;  
}
#mainmenu{  
  display: table-row;  
}